button{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: gray;
    font-size: 25px;

    align-items: center;
    justify-content: center;
}

button:hover{
    background-color: lightgray;
}

.list{
    font-size: 8px;
}